<div class="nes-container with-title main">
  <h2 class="title">パラメータ詳細表示</h2>
  <%# 目標の詳細表示 %>
  <div class="nes-container with-title target-box">
    <h3 class="title target-name-level"><%= "#{@target.name} - Lv. #{@target.level}" %></h3>
    <div class="target-exp-box">
      <div class="exp-string"><%= "exp:" %></div>
      <progress class="nes-progress is-success exp-bar" value=@target.exp max="10"></progress>
    </div>
    <div class="nes-container with-title target-content-box">
      <h3 class="title"><%= '能力値詳細（目標）' %></h3>
      <%= @target.content %>
    </div>
    <%= "初回設定日：" %><%= l @target.created_at %>
  </div>
  <%# /目標の詳細表示 %>
  <%# リンク %>
  <div class="nes-container links">
    <%= link_to "鍛錬内容の登録画面に遷移", new_target_habit_path(@target) %><br />
    <%= link_to "パラメータ一覧画面に遷移", targets_path %><br />
    <% if flash[:success] != nil %>
    <%= flash[:success] %>
    <% end %>
  </div>
  <%# /リンク %>
  <%# 習慣一覧 %>
  <div class="nes-container with-title habit-lists">
    <h3 class="title"><%= "鍛錬メニュー" %></h3>
    <% @target.habits.each_with_index do |habit, i| %>
    <div class="nes-container with-title habit-box">
      <h3 class='title'><%= habit.name %></h3>
      <p><%= '難易度：' %><%= Difficulty.find(habit.difficulty_grade).name %></p>
      <div>
        <h3><%= '達成状況' %></h3>
        <div class="nes-table-responsive">
          <table class="nes-table is-bordered is-centered">
            <tr class="date-row">
              <th><%= l Date.today-6 %></th><th><%= l Date.today-5 %></th><th><%= l Date.today-4 %></th>
              <th><%= l Date.today-3 %></th><th><%= l Date.today-2 %></th><th><%= l Date.today-1 %></th>
              <th><%= l Date.today %>
            </tr>
            <tr class="achieved-status-row">
              <th><%= @achieved_statuses[i][6] %></th><th><%= @achieved_statuses[i][5] %></th><th><%= @achieved_statuses[i][4] %></th>
              <th><%= @achieved_statuses[i][3] %></th><th><%= @achieved_statuses[i][2] %></th><th><%= @achieved_statuses[i][1] %></th>
              <% if @achieved_statuses[i][0] == "〇" %>
              <th><%= @achieved_statuses[i][0] %></th>
              <% else %>
              <th id=<%="achieved-check-cell-#{habit.id}"%> >
              <%= link_to "チェック", target_habit_update_achieved_status_path(@target, habit), method: :put, id: "habit-achieved-check-#{habit.id}" %>
              </th>
              <% end %>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%# /習慣一覧 %>
</div>