<h2>鍛錬の登録</h2>

<%= form_for(@habit, url: target_habits_path(@target), method: :post) do |f| %>
  <%= flash[:error] %><br />
  <%= render "shared/error_messages", model: f.object %><br />
  <div>
    <%= f.label :name, "鍛錬の内容" %><%= "を簡単に入力しよう" %><br />
    <%= f.text_field :name, class: "nes-input", placeholder: "筋トレを15分やる、参考書の問題を5問解く、など" %>
  </div>
  <div>
    <%= f.label :content, "鍛錬の詳細な内容" %><%= "を入力しよう" %><br />
    <%= f.text_area :content, class: "nes-textarea", placeholder: "腹筋1分、腕立て1分、スクワット1分... 、〇〇のテキストを使用する、など" %>
  </div>
  <div>
    <%= f.label :content, "難易度" %><%= "を決めよう" %><br />
    <div class="nes-select">
    <%= f.collection_select(:difficulty_grade, Difficulty.all, :grade, :name, {}, {}) %>
    </div>
  </div>
  <%= f.submit "登録" %>
<% end %>
<%= link_to "戻る", root_path %><br />