<%= '鍛錬の詳細：' %><%= habit.content %><br />
<%= '達成日数：' %><%= habit.achieved_days %>
<%= "設定日：" %><%= habit.created_at.strftime("%Y-%m-%d") %>
<div class="nes-table-responsive">
  <table class="nes-table-responsive">
    <tr>
      <th>名前</th> <th>年齢</th> <th>血液型</th>
    </tr>
    <tr>
      <td>さとう</td> <td>19</td> <td>A型</td>
    </tr>
    <tr>
      <td>のざわ</td> <td>24</td> <td>O型</td>
    </tr>
    <tr>
      <td>まなべ</td> <td>20</td> <td>B型</td>
    </tr>
  </table>
</div>